<head>

	<link rel="stylesheet" type="text/css" href="/css/contact.css">

</head>

<body>

	<form method="post" action="/contact">
		Name: <input name="name" type="text"><br>
		Company: <input name="company" type="text"><br>
		Comments: <input name="comments" type="text"><br>
		<input type="submit" value="Send Message">
	</form>

</body>