.forms {
	width: 100%;
	height: 100%;
	background-color: #FFEEDE;
	left: 10%;
	position: absolute;
	  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 10px;
}

.name2, .email, .company, .comments {
	width: 400px;
	height: 24px;
	border-style: none;
	text-indent: 10px;
	float: right;
}

.name2 {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}



.comments {
	height: 200px;

}

h3 {
	font-family: "proxima-nova-soft",sans-serif;
	font-weight: 100;
	font-size: 14px;
	border: 0;
	padding: 0;
	margin: 0;
}

.submit {
	width: 400px;
	font-size: 12px;
	background-color: #C2CC6A;
	border-style: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AAB266;
	height: 23px;
	color: white;
	text-transform: uppercase;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}