body {
	background-color: #FFFFFD;
}

.name {
	letter-spacing: -.1rem;
	background-color: #4B4FB2;
	color: white;
	font-weight: 400;
	text-align: center;
	font-family: "rooney-sans",sans-serif;
	margin-bottom: 0.5rem;
	letter-spacing: 0.13rem;
	text-transform: uppercase;
	border-bottom-left-radius: 5rem;
	border-bottom-right-radius: 5rem;
	padding-bottom: 3rem;
}

.title {
	text-align: center;
	font-weight: 200;
  	font-family: "rooney-sans",sans-serif;
	margin-top: -0.3rem;
	letter-spacing: 0.2rem;
	margin-bottom: 5rem;
	color: #4B4FB2;
}

.value-prop {
	text-align: center;
	font-family: "rooney-web",sans-serif;
	margin-bottom: 5rem;
}

.value-prop-heading {
	font-weight: 700;
}

.value-prop-text {
	font-weight: 300;
}

.logo {
	width: 200px;
	height: 200px;
	position: relative;
	left: 50%;
	margin-left: -100px;
}

.break {
	border-bottom-style: solid;
	border-bottom-width: 0.6px;
	border-bottom-color: black;
	height: 1px;
	opacity: 1;
	width: 20%;
	margin-bottom: 5rem;
}

.forms {
	/*font-family: "rooney-web",sans-serif;*/
}

.message {
	height: 500px;
}

.skills {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: black;
}

.skills-txt {
	width: 75%;
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin-bottom: 5rem;
}

.jitter {
	background-image: url(/images/background.jpg);
	background-size: 1600px;
	height: 300px;
	float: right;
}

.jitter-header {
	color: white;
	text-align: center;
	background-color: rgba(0,0,0,0.8);
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 5rem;
}

