.name {
	font-size: 4.2rem;
	letter-spacing: -.1rem;
	font-weight: 400;
	text-align: center;
  	font-family: "rooney-web",sans-serif;
	margin-bottom: 0rem;
	letter-spacing: 0.13rem;
}

.title {
	text-align: center;
	font-weight: 200;
  	font-family: "rooney-web",sans-serif;
	margin-top: -0.3rem;
	letter-spacing: 0.4rem;
}

.value-prop {
	text-align: center;
	font-family: "rooney-web",sans-serif;
	font-weight: 700;
}

.value-prop-text {
	font-weight: 300;
}

.logo {
	width: 200px;
	height: 200px;
	position: relative;
	left: 50%;
	margin-left: -100px;
}