* {
	margin: 0;
	padding: 0;
}

/* EVERYTHING IN MENU */

.side {
	width: 20%;
	height: 100%;
	display: inline;
	float: left;
	background-color: #344454;
	left: 0px;
	position: relative;
}

#logo {
	height: 150px;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#name {
	text-align: center;
	font-size: 24px;
	top: -20px;
	color: white;
	position: relative;
	display: block;
	font-family: "coquette",fantasy;
	font-weight: 400;
}

#tags {
	font-weight: 100;
	text-align: center;
	font-size: 8px;
	color: white;
	font-family: "proxima-nova-soft",sans-serif;
	text-transform: uppercase;
}


/* EVERYTHING IN MAIN SECTION */

.body {
	width: 66%;
	height: 100%;
	background-color: white;
	right: 0px;
	top: 0px;
	float: right;
	display: inline;
	position: relative;
	margin-left: 0;
	padding-left: 0;
}

.menu {
	color: white;
	text-align: center;
	list-style-type: none;
	font-weight: 100;
	color: white;
	font-family: "proxima-nova-soft",sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0.5;
	line-height: 3;
	top: 100px;
}

.menu:hover {
	opacity: 1.0;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: 1.0;
}

a:active {
    text-decoration: none;
    color: white;
}

#menu:hover{
	color: black;
}
