* {
	margin: 0;
	padding: 0;
}

/* EVERYTHING IN MENU */

.side {
	width: 33%;
	height: 100%;
	display: inline;
	float: left;
	background-color: #344454;
	left: 0px;
	top: -30px;
	position: relative;
}

#logo {
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
	top: 5.5em;
}

#name {
	text-align: center;
	font-weight: 400;
	font-size: 24px;
	color: white;
	position: relative;
	display: block;
	top: 4.2em;
}

#tags {
	font-weight: 100;
	text-align: center;
	font-size: 15px;
	color: white;
	top: 7.1em;
}

#motto {
	font-weight: 100;
	text-align: center;
	top: 6.2em;
	color: white;

}

.text {
	font-family: "museo-sans-rounded",sans-serif;
	position: relative;
}

/* EVERYTHING IN MAIN SECTION */

.body {
	width: 66%;
	height: 100%;
	background-color: white;
	right: 0px;
	top: 0px;
	float: right;
	display: inline;
	position: relative;
	margin-left: 0;
	padding-left: 0;
}

.menu {
	color: white;
	text-align: center;
	list-style-type: none;
	font-family: "museo-sans-rounded",sans-serif;
	font-weight: 100;
	position: relative;
	top: 14.5em;
	line-height: 2;
	color: white;
}

{
	text-decoration: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

#menu:hover{
	color: black;
}

.contactform {
	right: 0px;
	top: 0px;
	position: fixed;
	text-align: center;
}
