* {
	margin: 0;
	padding: 0;
}

 /*EVERYTHING IN MENU */

.side {
	width: 20%;
	height: 100%;
	/*display: inline;*/
	float: left;
	background-color: #344454;
	left: 0;
	position: fixed;
	border-right-style:solid;
	border-right-width: 4px;
	border-right-color: #273440;
}

.logo {
	height: 175px;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.name {
	text-align: center;
	font-size: 36px;
	top: 0;
	line-height: 0.5;
	color: white;
	position: relative;
	display: block;
	font-family: "coquette",fantasy;
	font-weight: 400;
	letter-spacing: 3;
}

.tags {
	font-weight: 300;
	text-align: center;
	font-size: 8px;
	letter-spacing: 3;
	line-height: 5;
	color: white;
	font-family: "proxima-nova-soft",sans-serif;
	text-transform: uppercase;
}


 /*EVERYTHING IN MAIN SECTION */


.menu {
	color: white;
	text-align: center;
	list-style-type: none;
	font-weight: 100;
	font-family: "proxima-nova-soft",sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	opacity: 0.5;
	line-height: 3;
	letter-spacing: 4;
}

.links {
	position: fixed;
	top: 50%;
	padding-top: -25%;
	left: 0;
	width: 20%;
	border: 0;
	margin: 0;
	padding: 0;
}

.menu:hover {
	opacity: 1.0;
}

.buttons {
	width: 100%;
	display: -webkit-flex;
  	display: flex;
  	-webkit-flex-direction: row
  	flex-direction: row;
  	-webkit-align-items: center;
  	align-items: center;
  	-webkit-justify-content: center;
  	bottom: 20px;
  	left: 0;
  	position: absolute;
}

.social {
	height: 15px;
	width: 15px;
	margin-right: 5px;
	margin-left: 5px;
	opacity: 0.5;
}

.social:hover {
	opacity: 1;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: 1.0;
}

a:active {
    text-decoration: none;
    color: white;
}