<head>

	<link rel="stylesheet" type="text/css" href="/css/contact.css">

</head>

<body>

<section class="forms">
	<form method="post" action="/contacted">
			<input name="name" class="name2" type="text" placeholder="Name"><br>
			<input name="email" class="email" type="text" placeholder="Email"><br>
			<input name="company" class="company" type="text" placeholder="Company"><br>
			<input name="comments" class="comments" type="text" placeholder="Write your message here"><br><br>
		<input class="submit" type="submit" value="Send"><br>
				<%= flash[:notice] %>
	</form>
</section>

</body>