<head>

</head>

<body>

	<form class="contactform" action="post">
		<h3>Name: </h3><input type="text" name="name"><br>
		<h3>Email: </h3><input type="text" name="email"><br>
		<h3>Message:</h3> <input type="text" name="message"><br>
		<h3>Enquiry</h3><br>
		<input type="radio" name="general" value="general">General enquiry<br>
		<input type="radio" name="collab" value="collab">Collaboration<br>
		<input type="radio" name="proposal" value="proposal">Proposal<br>
	</form>

</body>