<head>

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

<script src="//use.typekit.net/vgg1scn.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<script src="//use.typekit.net/wda2seg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>

<body>

<section class="container">

	<section class="header">
		<section class="twelve columns">
		<img src="/images/logo3-01.png" class="logo" class="text">
		</section>
		<h2 class="name">Fadie Hannona</h2>
		<h4 class="title">Full-Stack Developer</h4>

		<section class="twelve columns break">
		</section>

		<section class="value-props row">

			<section class="four columns value-prop">
				<p class="value-prop-heading">Code</p>
				<p class="value-prop-text">Makers Academy Graduate. Ruby. Javascript. Swift. Objective-C.</p>
			</section>
			<section class="four columns value-prop">
				<p class="value-prop-heading">Design</p>
				<p class="value-prop-text">Ex-Creative Designer. HTML. CSS. Adobe Illustrator.
			</section>
			<section class="four columns value-prop">
				<p class="value-prop-heading">UI</p>
				<p class="value-prop-text">Informative experiences<br>Alluring looks</p>
			</section>

			<section class="twelve columns break">
			</section>

		</section>

	</section>

</section>

</body>