<head>

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

</head>

<body>

<section class="container">

	<section class="row">
		<section class="three columns side"><br>
			<img src="/images/logo-01.png" class="logo">
			<h1>Fadie</h1>
			<h6 class="roles">Developer | Designer</h6>
		</section>
		<section class="nine columns body"><p>Yo</p></section>
	</section>

</section>

</body>