<head>

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

<script src="//use.typekit.net/vgg1scn.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>

<script src="//use.typekit.net/wda2seg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>

<body>

<section class="cont">

	<section class="header twelve columns">
		<h2 class="name firstname">Fadie</h2><h2 class="name surname">Hannona</h2><h2 class="name ios">iOS</h2><h2 class="name ruby">and Ruby</h2><h2 class="name fullstack">Full-Stack</h2><h2 class="name developer">Developer</h2><h2 class="name line1">______________</h2><br>
		<section class="socialbox">
		<button class="workbutton">MY WORK</button>
		</section>
		<section class="socialbox">
		<button class="workbutton">MESSAGE ME</button>
		</section>
		<section class="socialbox">
		<a href="http://www.github.com/fadieh"><img class="social" src="images/github.png"/></a>
		<a href="http://uk.linkedin.com/in/fadiehannona"><img class="social" src="images/linkedin.png"/></a>
		<a href="http://instagram.com/fadfad_"><img class="social" src="images/instagram.png"/></a>
		<a href="http://www.twitter.com/i_am_fadie"><img class="social" src="images/twitter.png"/><br></a>
		</section>
	</section>

</section>

</body>