<head>

<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/skeleton.css">

<script src="//use.typekit.net/vgg1scn.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>

<script src="//use.typekit.net/wda2seg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>

<body>

<section class="container">

	<section class="header">
		<section class="twelve columns">
		<img src="/images/logo3-01.png" class="logo" class="text">
		</section>
		<h2 class="name">Fadie Hannona</h2>
		<h4 class="title">Full-Stack Developer</h4>


	</section>

	<section class="main">

			<section class="twelve columns break">
			</section>

	<section class="twelve columns">
		<h1 class="skills">My Skills</h1>

		<section class="twelve columns">
		<p class="skills-txt">Highly motivated Junior Full-Stack Developer. Hungry and curious to make awesome shit. I would love to specialise in the internet of things. Give me a job already. I'm just writing this synopsis to create filler text so I can see what it would look like. I need a bit more though.</p>
		</section>

		<section class="value-props row">

			<section class="four columns value-prop">
				<p class="value-prop-heading">Code</p>
				<p class="value-prop-text">Makers Academy Graduate. Ruby. Javascript. Swift. Objective-C.</p>
			</section>
			<section class="four columns value-prop">
				<p class="value-prop-heading">Design</p>
				<p class="value-prop-text">Ex-Creative Designer. HTML. CSS. Adobe Illustrator.
			</section>
			<section class="four columns value-prop">
				<p class="value-prop-heading">UI</p>
				<p class="value-prop-text">Informative experiences<br>Alluring looks</p>
			</section>

			<section class="twelve columns break">
			</section>

		</section>

	</section>

	<section class="twelve columns jitter">
		<section class="jitter-header six columns">
			Jitter
		</section>

	</section>

		<form>
			<section class="row">
				<section class="six columns forms">
					<label for="nameInput">Your Name</label>
					<input class="u-full-width" type="email" placeholder="Phil Mitchell" id="name">
				</section>
				<section class="six columns forms">
					<label for="companyInput">Your Company</label>
					<input class="u-full-width" type="email" placeholder="The Queen Vic" id="name">
				</section>
				<section class="twelve columns forms">
					<label for="companyInput">Message</label>
					<input class="u-full-width" type="email" placeholder="Say something" id="name">
				</section>

	</section>



</section>

<script src="/scripts/jquery.js"></script>
<script>

$('.jitter').mousemove(function(e){
    var amountMovedX = (e.pageX * -0.1 / 6);
    var amountMovedY = (e.pageY * -0.1 / 6);
    $(this).css('background-position', amountMovedX + 'px ' + amountMovedY + 'px');
});

</script>

</body>