<head>

<link rel="stylesheet" type="text/css" href="/css/style.css">

<script src="//use.typekit.net/umi5ccu.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>

<body>

<section class="side">

<img src="/images/logo-01.png" id="logo" class="text">
<h1 id="name" class="text">Fadie Hannona</h1>
<h3 class="text">Developer/Designer/Ex-Marketer</h3>
<h3 class="text">Est. 1988, London</h3>

<ul class="text">
	<li>Story</li>
	<li>Web</li>
	<li>Print</li>
	<li>Contact</li>
</ul>

</section>

<section class="body">

</section>

</body>