<section class="side">

<img src="/images/logo-01.png">
<h1>Fadie Hannona</h1>
<h3>Developer/Designer/Ex-Marketer</h3>
<h3>Est. 1988, London</h3>

<ul>
	<li>Web</li>
	<li>Print</li>
	<li>Education</li>
</ul>

</section>

<section class="body">

</section>