<head>

<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

<script src="//use.typekit.net/vgg1scn.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<script src="//use.typekit.net/wda2seg.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>

<body>

<%= yield %>

<section class="side">

<img src="/images/logo-01.png" class="logo" class="text">
<h1 class="name" class="text">Fadie</h1>
<h3 class="tags" class="text">Developer | Designer</h3>

<section class="links">
<ul class="text">
	<li class="menu" id="work"><a href="/work">My Work</li>
	<li class="menu" id="story"><a href="/story">Story</li>
	<li class="menu" id="contact"><a href="/contact">Contact</li>
</ul>
</section>

<section class="buttons">
<a href="http://www.github.com/fadieh"><img src="images/github-01.png" id="github" class="social"></a>
<a href="http://uk.linkedin.com/in/fadiehannona"><img src="images/linkedin-01.png" id="linkedin" class="social"></a>
</section>

</section>

</body>